.button{
    background-color: deeppink;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    
}

.price{
    color: deeppink;
    font-size: 40px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    background-color: #fceae8;
    padding: 40px 40px;
    border-radius: 10px;
}
.cat-1{
    background-color: orange;
    
}
.cat-2{
    background-color: purple;
    
}
.cat-3{
    background-color: blue;
   
}

.cat-1 , .cat-2 , .cat-3{
    padding: 10px 30px;
    border-radius: 15px;
    
}
.categories h1{
    color: white;

}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.subscribe-submit{
    background-color: #fceae8;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}

#subscribe h6{
    color: grey;
}

.footer{
    text-align: center;
}
